body{
     
        color:white;
        margin:0px;
        padding: 0px;
        background-image: url('Gym.jpg');
        background-size: 100% auto;
    
}
.left{
    display: inline-block;
    position: absolute;
    left: 30px;
    top:10px;
}
.left img{
    width: 136px;
    filter: invert(100%);
}
.left div{
    line-height: 19px;
    font-size: 26px;
    text-align: center;
}
.mid{
    display: block;
    width: 45%;
    margin: 29px auto;
    /* border: 2px solid orange; */

}
.right{
    position: absolute;
    right: 34px;
    top:45px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
.navbar{
    display: inline-block;
    /* border: 2px solid white; */
}
.navbar li{
   display: inline-block;
   font-size: 25px;
    /* text-decoration: none; */
}
.navbar li a{
    color:white;
    text-decoration: none;
    padding: 34px 23px;

}
.navbar li a:hover,.navbar li a:active{
    text-decoration: underline;
    color: gray;
}
.btn{
 margin: 0px 9px;  
 border: 2px solid grey;  
 background-color: black;
 color: white;
 padding: 4px 14px;
 border-radius: 10px;
 font-size: 20px;
 cursor: pointer;

}
.btn:hover{
    background-color: rgb(102, 92, 92);
}


.container{
    border: 3px solid white;
    margin-top: 106px;
    margin-left: 25%;
    padding: 75px;
    width: 33%;
    border-radius: 28px
}
.form-group input{
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}
.container h1{
    text-align: center;
}
.btnn{
    display: block;
    width: 74%;
    margin: 30px auto;
    padding: 10px 50px;
    font-size: 25px;
    border-radius: 20px;
}
.btnn:hover{
    background-color: rgb(102, 92, 92);
}
